@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

html {
	background-color: rgb(0,0,0);
}

body {
}

header, footer, #content {
	display: block;
	width: 100%;
	min-width: 360px;
	max-width: 720px;
	margin: 0 auto;
}

#logo_image {
	display: block;
	margin: 0 auto;
	padding: 12px;
	background: linear-gradient(-45deg, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
	background-size: 200% 200%;
	animation: gradient 12s linear infinite;
}

#logo_div {
	display: inline-block;
	margin: 0 auto;
	padding: 12px;
	background: linear-gradient(-45deg, rgba(255,255,255,0.5), rgba(0,0,0,0.5));
	background-size: 200% 200%;
	animation: gradient 6s linear infinite;

}

@keyframes gradient {
	0% { background-position: 0% 100%; }
	25% { background-position: 100% 100%; }
	50% { background-position: 100% 0%; }
	75% { background-position: 0% 0%; }
	100% { background-position: 0% 100%; }
}
